<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EasyCook</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <script src="https://kit.fontawesome.com/0c2b640fe0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <!--<button type="button" class="btn btn-primary">想找食譜嗎？快跟機器人聊天去吧！</button>-->
        <a href="#" class="btn">想找食譜嗎？快跟機器人聊天去吧！</a>
        <!--<button class="button btn btn-default">想找食譜嗎？快跟機器人聊天去吧！</button>-->
        <div class="col-md-12">
          
          <!--weather-->
          <h3 class="category">
            Weather
          </h3>

          <!--<span class="underline">-</span>-->

          <!-- Icon Divider -->
          <!--
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
          </div>
          -->

          <h3 class="text-up">
            不知道要吃什麼嗎？
          </h3>
          <p class="text-left">
            讓天氣帶給你一些靈感
          </p>

          <!--weather display-->
          <div class="row weather">
            <div class="col-md-4">
              <!-- 原本的
              <div class="card">
                <div class="card-block">
                  <h5 class="card-title">
                    基隆市
                  </h5>
                  <span class="weather-display">
                    <i class="fas fa-cloud-showers-heavy"></i>
                  </span>
                  <p class="card-text">
                    17-18°
                  </p>
                </div>
              </div>-->
              
              <!--新的 weather display-->
              <section class="card-weather">
              
                <div class="card-block">
                  <h5 class="card-title">
                    基隆市
                  </h5>
                  <span class="weather-display">
                    <i class="fas fa-cloud-showers-heavy"></i>
                  </span>
                  <p class="card-text">
                    17-18°
                  </p>
                </div>

                <div class="card-block">
                  <h5 class="card-title">
                    基隆市
                  </h5>
                  <span class="weather-display">
                    <i class="fas fa-cloud-sun"></i>
                  </span>
                  <p class="card-text">
                    17-18°
                  </p>
                </div>

                <div class="card-block">
                  <h5 class="card-title">
                    基隆市
                  </h5>
                  <span class="weather-display">
                    <i class="fas fa-sun"></i>
                  </span>
                  <p class="card-text">
                    17-18°
                  </p>
                </div>

                <div class="card-block">
                  <h5 class="card-title">
                    基隆市
                  </h5>
                  <span class="weather-display">
                    <i class="fas fa-sun"></i>
                  </span>
                  <p class="card-text">
                    17-18°
                  </p>
                </div>

                <div class="card-block">
                  <h5 class="card-title">
                    基隆市
                  </h5>
                  <span class="weather-display">
                    <i class="fas fa-sun"></i>
                  </span>
                  <p class="card-text">
                    17-18°
                  </p>
                </div>
                
                

               
              </section>

            </div>
          </div>
          

          <!--weather display 修改下面的template
          <section class="hero-section">
            <div class="card-grid">
              <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://cdn.pixabay.com/photo/2014/11/05/15/57/salmon-518032_1280.jpg)"></div>
                <div class="card__content">
                  <p class="card__category">基隆市</p>
                  <span class="weather-display">
                    <i class="fas fa-cloud-showers-heavy"></i>
                  </span>
                  <p class="card__temperature">17-18°</p>
                </div>
              </a>
            </div>
          </section>
          -->

          <!--popular-->
          <h3 class="category">
            Popular
          </h3>

          <h3 class="text-up">
            本週排行榜
          </h3>
          <p class="text-left">
            快來看看大家都做了哪些料理！
          </p>

          <!--popular display-->
          <section class="hero-section">
            <div class="card-grid">
              <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://cdn.pixabay.com/photo/2014/11/05/15/57/salmon-518032_1280.jpg)"></div>
                <div class="card__content">
                  <!--<p class="card__category">Category</p>-->
                  <h3 class="card__heading">超精緻粉紅鮭魚排</h3>
                </div>
              </a>
              <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://cdn.pixabay.com/photo/2016/10/23/09/37/restaurant-1762493_1280.jpg)"></div>
                <div class="card__content">
                  <!--<p class="card__category">Category</p>-->
                  <h3 class="card__heading">台式營養肉蛋炒飯</h3>
                </div>
              </a>
              <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://cdn.pixabay.com/photo/2016/09/15/19/24/salad-1672505_1280.jpg)"></div>
                <div class="card__content">
                  <!--<p class="card__category">Category</p>-->
                  <h3 class="card__heading">鄉村養生健康沙拉</h3>
                </div>
              </a>
              <a class="card" href="#">
                <div class="card__background" style="background-image: url(https://cdn.pixabay.com/photo/2016/10/31/18/14/ice-1786311_1280.jpg)"></div>
                <div class="card__content">
                  <!--<p class="card__category">Category</p>-->
                  <h3 class="card__heading">香甜莓果可可鬆餅</h3>
                </div>
              </a>
              <!--https://codepen.io/steveeeie/pen/NVWMEM-->
              
            </div>
          </section>

        </div>
      </div>
    </div>

    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>